# Arquivos do interpretador Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
venv/
env/
*.venv/
Pipfile
Pipfile.lock

# Configurações de IDEs e editores
.vscode/
.idea/
*.sublime-workspace

# Logs e arquivos temporários
*.log
*.tmp
*.swp
*.swo
*.bak

# Dependências
*.egg-info/
dist/
build/
*.egg

# Arquivos de testes e cobertura de código
.coverage
.tox/
.nox/
pytest_cache/
htmlcov/

# Configurações do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos de docker e containers (caso use)
.dockerignore

# Configurações específicas do sistema operacional
.DS_Store  # macOS
Thumbs.db  # Windows